@mixin overview {
    padding-top: 70px;
}
@mixin title {
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

#overview {
    h2 {
    &.overview {
            text-align: center;
            @include overview;
            font-size: 40px;
        }
    }
    ul {
        font-size: 16px;
    }
    h3 {
        text-align: center;
    }
    .col-md {
        padding: 10px 30px 10px 30px;
    }
    border: solid 2px gray;
    padding-bottom: 10px;
}

#software {
    h2 {
        @include title;
    }
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    // .accordion {
    //     margin: 0px 200px 0px 200px;
    // }
}
