* {
  font-family: "Signika Negative"; }

.col-md:hover {
  border: black solid 1px; }

a {
  color: gray;
  text-decoration: none; }
  a.spotify1:hover {
    color: #22bf4a;
    text-decoration: underline; }
  a.spotify2:hover {
    color: #1b8736;
    text-decoration: underline; }
  a.yt:hover {
    color: #cf3e2d;
    text-decoration: underline; }
  a.apple:hover {
    color: #ac49f2;
    text-decoration: underline; }
  a.audacity1:hover {
    color: #0003c2;
    text-decoration: underline; }
  a.ardour1:hover {
    color: #ed462f;
    text-decoration: underline; }
  a.tracktion1:hover {
    color: #242424;
    text-decoration: underline; }
  a.lmms1:hover {
    color: #48b045;
    text-decoration: underline; }
  a.lastfm:hover {
    color: #cc3f37;
    text-decoration: underline; }

body {
  background-image: linear-gradient(to bottom, #EBEBEA, #B9B9B6); }

.navbar a:hover {
  text-decoration: none; }

#overview h2.overview {
  text-align: center;
  padding-top: 70px;
  font-size: 40px; }
#overview ul {
  font-size: 16px; }
#overview h3 {
  text-align: center; }
#overview .col-md {
  padding: 15px 20px 10px 20px;
  margin: 5px;
  border: #b3b3b3 1px solid;
  text-align: center;
  border-radius: 10px;
  background-color: #dedede; }

#software {
  padding: 15px; }
  #software h2 {
    text-align: center;
    font-size: 40px; }
  #software h4 {
    text-align: center; }
  #software p {
    text-align: center;
    padding: 5px; }
  #software .accordion {
    padding-bottom: 30px; }
  #software img {
    float: left; }
  #software .spotify {
    width: 70px;
    margin: 3px 30px 10px 10px; }
  #software .yt-music {
    width: 65px;
    margin: 20px 30px 10px 10px; }
  #software .apple-music {
    width: 60px;
    margin: 20px 30px 10px 10px; }
  #software .audacity {
    width: 40px;
    margin: 5px 15px 10px 20px; }
  #software .ardour {
    width: 40px;
    margin: 7px 15px 10px 20px; }
  #software .tracktion-t7 {
    width: 40px;
    margin: 10px 15px 0px 20px; }
  #software .lmms {
    width: 40px;
    margin: 10px 15px 0px 20px; }
  @media (max-width: 768px) {
    #software img {
      opacity: 0%;
      position: absolute; } }
  #software .section-text {
    text-align: left; }

#hardware {
  padding: 15px; }
  #hardware h2 {
    text-align: center;
    font-size: 40px; }
  #hardware p, #hardware img {
    text-align: center; }
  #hardware .audio-interface-img {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 20px; }
  #hardware .usb-mic-img {
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 20px; }
  #hardware .fx-processor-img {
    width: 35%;
    display: block;
    margin: auto; }
  @media (max-width: 992px) {
    #hardware .audio-interface-img {
      width: 80%; }
    #hardware .usb-mic-img {
      width: 60%; }
    #hardware .fx-processor-img {
      width: 70%; } }

#ideas {
  padding: 15px; }
  #ideas h2 {
    text-align: center;
    font-size: 40px; }
  #ideas h4 {
    text-align: center; }
  #ideas .col-md {
    padding: 15px 5px 5px 5px;
    margin: 5px;
    border: #8a8a8a 1px solid;
    border-radius: 10px;
    background-color: #b5b5b5;
    text-align: left; }

.accordion-collapse {
  background-color: lightgray; }

.accordion-button.collapsed {
  background-color: #e3e3e3;
  border: gray solid 0.5px;
  color: #707070; }

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #c2c2c2; }

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23707070'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important; }

hr {
  background-color: gray; }
  hr.s {
    background-color: #7a7a7a; }
  hr.h {
    background-color: #404040; }
  hr.i {
    background-color: #292929; }

/*# sourceMappingURL=style.css.map */
